.container {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
}

.input {
    background-color: black;
    outline: none;
    color: white;
    padding: 10px;
}

.error {
    color: darkred;
    margin-left: 10px;
}

.title {
    align-self: start;
    margin-left: 5px;
}
