.container {
    display: flex;
    position: fixed;
    bottom: 0px;
    z-index: 999;
    justify-content: space-around;
    width: 100%;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 15px;
}

.iconContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon {
    color: #90e0ef;
    align-self: center;
}

.text {
    color: white;
    align-self: center;
    font-size: x-small;
}
